---
# roles/jetson_exporter/tasks/main.yaml

- name: Install Jetson Prometheus exporter script
  become: true
  copy:
    src: jetson_prometheus_exporter.py          # from roles/jetson_exporter/files/
    dest: /usr/local/bin/jetson_prometheus_exporter.py
    owner: root
    group: root
    mode: "0755"

- name: Install jetson_exporter systemd unit
  become: true
  copy:
    src: jetson_exporter.service                # from roles/jetson_exporter/files/
    dest: /etc/systemd/system/jetson_exporter.service
    owner: root
    group: root
    mode: "0644"

- name: Reload systemd units for jetson_exporter
  become: true
  systemd:
    daemon_reload: true

- name: Enable and start jetson_exporter.service
  become: true
  systemd:
    name: jetson_exporter.service
    enabled: true
    state: started
