client
dev tun0
proto udp
remote 34.139.165.231 1194
resolv-retry infinite
nobind
persist-key
persist-tun
keepalive 10 120

remote-cert-tls server
cipher AES-128-GCM
auth SHA256
verb 3

redirect-gateway def1
dhcp-option DNS 8.8.8.8
dhcp-option DNS 1.1.1.1

auth-nocache
tls-auth /etc/openvpn/client/ta.key 1
key-direction 1
ca /etc/openvpn/client/ca.crt
cert /etc/openvpn/client/{{ client_name }}.crt
key /etc/openvpn/client/{{ client_name }}.key

script-security 2
up /etc/openvpn/client/dns-hooks.sh
down /etc/openvpn/client/dns-hooks.sh