# roles/monitoring_prometheus_config/tasks/main.yml

- name: Ensure Prometheus config directory exists
  file:
    path: "{{ monitoring_prometheus_config_path | dirname }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Render Prometheus configuration from template
  template:
    src: prometheus.yml.j2
    dest: "{{ monitoring_prometheus_config_path }}"
    owner: root
    group: root
    mode: '0644'
    backup: yes
    validate: "{{ monitoring_prometheus_promtool_path }} check config %s"
  notify: Reload Prometheus
