#!/bin/bash

echo "[INFO] Installing VPN client config..."

CONFIG_NAME="{{ client_name }}"
CONFIG_PATH="/etc/openvpn/${CONFIG_NAME}.conf"

sudo mkdir -p /etc/openvpn
sudo cp "$(dirname "$0")/${CONFIG_NAME}.ovpn" "${CONFIG_PATH}"

echo "[INFO] Enabling OpenVPN client service..."
sudo systemctl enable openvpn@${CONFIG_NAME}
sudo systemctl start openvpn@${CONFIG_NAME}

echo "[INFO] VPN setup complete!"
