# /etc/systemd/system/xorg-pulseaudio.service
[Unit]
Description=Start Xorg & PulseAudio Without Display Manager
Documentation=local:kiosk
Wants=multi-user.target systemd-logind.service
After=systemd-logind.service dbus.service network.target \
      systemd-user-sessions.service time-sync.target \
      plymouth-quit-wait.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=checkout
Group=checkout
ExecStartPre=/bin/sleep 6
ExecStart=/usr/local/bin/start-xorg.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
