[Unit]
Description=Jetson Prometheus Exporter
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/jetson_prometheus_exporter.py
Restart=always
User=root
Group=root
WorkingDirectory=/usr/local/bin/
Environment="PYTHONUNBUFFERED=1"
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

